<h1 class="text-center display-4">Hikes</h1>
<br>
<br>
<a class= "btn btn-primary" href="hikes/new">Add Hike</a>
<br>
<br>
<%= form_tag(hikes_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<div class="container">
    <div class="row">
            <%@hikes.order_by_newest.each do |hike|%>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top, width: 700px, height: 400px" src="<%=hike.img_url%>" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title"><%=hike.name%></h5>
                    </div>
                    <a class="btn btn-info" href="/hikes/<%=hike.id%>">Show Hike</a>
                </div>
            </div>
            <%end%>
    </div>
</div>