<img class="card-img-top" style= "width: 60%" src="<%=@hike.img_url%>" alt=""></a>
                    <div class="card-body">
                        <h1 class="card-title"><%=@hike.name%></h1>
                        <p class="card-text"><strong>Summary:</strong><%=@hike.summary%></p>
                        <p class="card-text"><strong>Location:</strong><%=@hike.location%></p>
                        <p class="card-text"><strong>Length:</strong><%=@hike.length%>mi.</p>
                        <br>
                        <br>

                    
                        <%= button_to  "delete", @hike, method:"delete" %>
                
                        <br>
                        <a class="btn btn-warning" href=<%= edit_hike_path(@hike) %>>Edit Hike</a>
                        <h2>Reviews:</h2>
                            <%@hike.reviews.order_by_newest.each do |review|%>
                                <p class="card-text"><strong><%=review.user.email%> says:</strong> <%=review.content%></p>
                            <%end%>
                            <br>

                        <h1>Create Review</h1>
                            <%= link_to  "Write Your Review",  new_hike_review_path(@hike) %>
                    </div>

                    <a type="button" class="btn btn-default" href="/hikes">Back</a>